[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.99.1"
uvicorn = "~=0.22.0"
pyjwt = "~=2.7.0"
peewee = "~=3.16.2"
python-multipart = "~=0.0.6"

[dev-packages]

[requires]
python_version = "3.9"
